body {
    background-color: #f0f8ff; /* Light blue background */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Use an image as the background */
body {
    background-image: url('../images/Background3.png'); /* Path to your image */
    background-size: cover; /* Ensure the image covers the entire screen */
    background-repeat: no-repeat; /* Avoid repeating the image */
    background-attachment: fixed; /* Make the background stay in place */
}

/* Style headings and links */
h1 {
    font-family: 'Verdana', sans-serif; /* Use Arial or a fallback sans-serif font */
    font-size: 36px; /* Adjust the font size */

    color: #333333; /* Dark grey color for headings */
    text-align: center;
    margin-top: 20px;
}

a {
    color: #1e90ff; /* Dodger blue for links */
    text-decoration: none;
}

a:hover {
    color: #ff4500; /* Orange red on hover */
    text-decoration: underline;
}