<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Page Form</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Section: Styled Welcome Message -->
    <h1>Personal Financial Literacy Optimizer</h1>

    <!-- Section: Form -->
    <p>Insert Your Data</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    {% if output %}
        <h2>Output:</h2>
        <p>{{ output }}</p>
    {% endif %}

</body>
</html>